@charset "utf-8";

  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Jura&family=Poppins&display=swap');



// $ 'Inter Tight', sans-serif;


$font-main: 'Inter', sans-serif;
$font-title: 'Jura', sans-serif;
$font-title-two: 'Poppins', sans-serif;
$background: #160E2A;
