@import '../../sass/variables.scss';

button {
    --border-width: 2.5px;
    --border-radius: 12px;
    --color-1: #40AFFD;
    --color-2: #AB2FFE;
}

button {
    font-weight: bold;
    letter-spacing: 1px;
    color: #ddd;
    width: 120px;
    position: relative;
    background: linear-gradient(to right, var(--color-1), var(--color-2)),
        linear-gradient(to right, var(--color-1), var(--color-2));
    background-position: var(--border-radius) 0, var(--border-radius) 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - var(--border-radius) - var(--border-radius)) var(--border-width);
    padding: 14px 24px;
    border-radius: var(--border-radius);
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.478);
}

button:before,
button:after {
    content: "";
    display: block;
    position: absolute;
    width: var(--border-radius);
    top: 0;
    bottom: 0;
}

button:before {
    left: 0;
    border: var(--border-width) solid var(--color-1);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right-color: transparent;
}

button:after {
    right: 0;
    border: var(--border-width) solid var(--color-2);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left-color: transparent;
}

button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}