@import "../../../sass/variables.scss";

.article-two {
  color: white;

  #article-two-title {
    display: flex;
    justify-content: center;
    margin: 120px auto 120px auto;
    width: 80%;
    text-align: center;

    #article-bg-h1 {
      font-family: $font-main;
    }
    #article-bg-clear {
      position: absolute;
      transform: translate(-180%, -30%);
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, #6147f8 0%, #bc5eff 100%);
      border-radius: 50%;
      z-index: -1;
    }
  }

  .article-two-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .box {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      img {
        margin: 10px;
        width: 70px;
      }

      h1 {
        text-align: center;
        font-family: $font-title;
        font-size: 1.3em;
      }
      p {
        font-family: $font-main;
        text-align: center;
        font-size: 1em;
        line-height: 1.3em;
        padding: 10px;
      }
    }
  }

  #linha {
    margin-top: 50px;
    margin-bottom: 50px;
    background-size: cover;
    width: 100vw;
  }

  .article-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    h1 {
      padding: 0px 10px 0px 10px;
      text-align: center;
      font-family: $font-main;
      margin-top: 2em;
    }

    input {
      width: 300px;
      padding: 13px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.4);
      border: none;
      color: white;
      font-family: $font-title-two;
      font-size: 0.9em;
    }

    button {
      width: 180px;
      margin-bottom: 6em;
    }
  }
}

@media (max-width: 450px) {
  #article-bg-clear {
    margin-left: 60px;
  }
}
