.article-two {
  color: white;

  #article-two-title {
    text-align: center;
    border: 1px solid white;
    #article-bg-clear {
      display: none;
      position: absolute;
      transform: translate(220%, 1%);
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, #6147f8 0%, #bc5eff 100%);
      border-radius: 50%;
      z-index: -1;
    }
  }

  .article-two-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    #box {
      border: 1px solid white;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      img {
        width: 70px;
      }

      h1 {
      }
      p {
        text-align: start;
        padding: 25px;
      }
    }
  }

  #linha {
    background-size: cover;
    width: 100%;
  }

  .article-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    h1 {
        margin-top: 2.5em;
    }

    input {

    }

    button {
      width: 180px;
    }
  }
}
