@import "../../sass/variables.scss";

header {
  background-image: url("img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;

  #bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.elipse {
  width: 60%;
  height: 500px;
  background-color: rgba(128, 0, 128, 0.4);
  border-radius: 50%;
  position: absolute;
  top: -20%;
  left: -10%;
  background: linear-gradient(180deg, #fb03f7ed 0%, #aa9cff 100%);
  filter: blur(100px);
  box-shadow: 0 0 0 20px rgba(128, 0, 128, 0.5);
}

.elipse-2 {
  width: 100%;
  height: 500px;
  background-color: rgba(128, 0, 128, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -10%;
  z-index: 0;
  background: linear-gradient(262deg, #7000ff 4.87%, #06ffee40 87.02%);
  filter: blur(150px);
  box-shadow: 0 0 0 20px rgba(128, 0, 128, 0.2);
 
}

.header-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.header-content-left {
  margin-top: 7em;
  margin-left: 5em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 85px;
  z-index: 2;

  #text-box-main {
    width: 500px;
    font-family: Jura, sans-serif;
    font-size: 1.8em;
    background: linear-gradient(180deg, #e6b9ff 4%, #9e89ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #paragraph {
    max-width: 600px;
    width: 100%;
    font-family: $font-main;
    color: #fff;
    font-size: 1em;
    z-index: 1;
  }

  #video-demo {
    display: flex;
    align-items: center;
    color: white;
    z-index: 3;

    #icon {
      width: 47px;
      margin-right: 20px;
      filter: drop-shadow(1px 2px 8px rgba(255, 255, 255, 0.29));
      

      img {
        width: 37px;
      }
    }

    h2 {
      font-family: $font-title-two;
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    p {
      font-family: $font-title-two;
      font-size: 0.9em;
    }
  }
}

.header-content-right {
  margin-right: 10px;
  z-index: 2;
  img {
    max-width: 500px;
    height: 778px;

    
  }
}



@media (max-width: 992px) {
  .header-content-right {
    display: none;
  }

  .header-content-left {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    gap: 45px;

    #text-box-main {
      padding: 5px;
      font-size: 1.3em;
      width: 100%;
      z-index: 3;
    }

    #paragraph {
      padding: 5px;
      width: 100%;
      max-width: 992px;
      text-align: justify;
    }

    .hand{
        margin: auto;
        img{
            margin: auto;
            width: 100%;
            filter: drop-shadow(8px 8px 8px rgba(128, 0, 128, 0.5));
        }
    }
    #video-demo {
        margin: auto;
        
        
    }
  }
}

@media (min-width: 992px) {
  .hand {
    display: none;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1200px) {
  .header-content-left {
    padding-bottom: 50px;
    #video-demo {
      display: flex;
      align-items: center;
      color: white;
      z-index: 3;

      #icon {
        width: 47px;
        margin-right: 20px;

        img {
          width: 37px;
        }
      }

      h2 {
        font-family: $font-title-two;
        font-size: 1em;
        margin-bottom: 10px;
      }

      p {
        font-family: $font-title-two;
        font-size: 0.9em;
      }
    }
  }
  .header-content-right {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width:1235px) {
  .header-container{

    .header-content-left{
      margin-top: 85px;
      gap: 60px;
      h1 {
        font-family: $font-title;
        font-size: 2em;
        width: 90%;
        margin-bottom: 10px;
      }

      p {
        font-family: $font-title-two;
        font-size: 0.9em;
        
      }
      #video-demo {
        p{
          width: 350px;
        }
      }
    }
    .header-content-right{
      img{
        margin-right: 45px;
        margin-bottom: 50px;
        height: 600px;
      }
    }
  }
}



// @keyframes go-back {
//     0% {
//         transform: translateX(100px);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }
// @keyframes go-top {
//     0% {
//         transform: translateY(100px);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }

