@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";

.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  @include flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid white;

  img {
    margin-left: 6%;
    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    text-decoration: none;

    a {
      font-size: 1.2em;
      font-family: $font-main;
      color: white;
      text-decoration: none;
      position: relative;
      transition: background 0.3s;
    }
  }

  a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    top: 25px;
    bottom: 0;
    left: 0;
    background-color: rgb(243, 243, 243);
    transition: width 0.5s ease;
  }

  a:hover::before {
    color: rgb(221, 221, 221);
    width: 100%;
  }

  a:hover {
    cursor: pointer;
    transition: background 0.3s;
    color: rgb(221, 221, 221);
  }

  #btn-container {
    @include flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 3em;
  }
}

.handle {
  display: none;
}

@media (max-width: 992px) {
  .navbar {
    ul {
      flex-wrap: nowrap;
    }
  }
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    ul {
      display: none;
    }
    #btn-container {
      display: none;
    }
  }

  .handle {
    display: block;
    margin-right: 20px;
    width: 70px;
    transition: 0.3s;
    span {
      transition: transform 0.3s ease; /* Adicione a transição à tag 'span' */
      display: inline-block;
    }

    span.active {
      transform: rotate(90deg); /* Aplique a transformação ao ícone 'FaTimes' */
    }
  }

  @keyframes slideDown {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 400px; /* Ou qualquer valor desejado */
    }
  }

  // @keyframes slideUp {
  //   100% {
  //     max-height: 400px; /* Ou qualquer valor desejado */
  //   }

  //   0% {
  //     max-height: 0;
  //   }
  // }

  .mobile-nav {
    width: 100%;
    background-color: #160e2a;
    position: absolute;
    top: 80px;

    overflow: hidden;
    animation: slideDown 0.5s ease-in-out; /* Use o keyframe slideDown para a animação */
    transition: height 0.3s ease; /* Adicione uma transição para a altura também */

    .mobile-ul {
      display: flex;
      flex-direction: column;
      gap: 0;
      text-align: center;
      width: 100%;

      .mobile-li {
        width: 100vw;
        border-bottom: 1px solid rgba(255, 255, 255, 0.236);
        padding: 25px;
        text-align: center;
        a {
          padding: 25px 120px;
        }

        a::before {
          display: none;
        }
      }
      .mobile-li:hover {
        background-color: #46376c;
      }
    }

    #mobile-btn-container {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  .mobile-nav.active {
    max-height: 300px; /* Ajuste o max-height para o valor desejado */
    animation: none;
  }
}
