@import '../../../sass/mixin.scss';
@import '../../../sass/variables.scss';

.navbar {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    @include flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid white;

    img {
        margin-left: 6%;
    }
    
    ul {
        display: flex;
        gap: 50px;
        align-items: center;
        list-style: none;
        text-decoration: none;

        a {
            font-size: 1.2em;
            font-family: $font-main;
            color: white;
            text-decoration: none;
            position: relative;
            transition: background .3s;

        }
    }

    a::before {
        content: "";
        position: absolute;
        width: 0;
        height: 5px;
        top: 25px;
        bottom: 0;
        left: 0;
        background-color: #06ffeef8;
        transition: width 0.5s ease;

    }

    a:hover::before {
        color: #06ffeef8;
        width: 100%;
    }

    a:hover{
        transition: background .3s;
        color:#06ffeef8;
    }

    #btn-container {
        @include flex;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 5em;
    }

}

