@import "../../../sass/variables.scss";

@mixin flexC {
  display: flex;
  flex-direction: column;
}

@mixin divisao-texto {
}

.card {
  display: flex;
  color: white;
  background: #312353;
  width: 275px;
  padding: 5px;
  border: 2px solid;
  border-radius: 10px;

  #profile {
    margin: 0;
    width: 50px;
    height: 50px;
    align-items: center;
    img {
      margin: 0;
      margin-top: 5px;
      margin-left: 5px;
      width: 50px;
      height: 50px;
    }
  }

  #card-description {
    @include flexC;
    justify-content: center;
    gap: 2px;
    h1 {
      padding: 0px 10px 0px 20px;
      font-family: $font-main;
      font-size: 1em;
    }
    p {
      padding: 0px 10px 0px 20px;
      font-family: $font-main;
      font-size: 1em;
    }
  }

  #card-line {
    @include flexC;
    @include divisao-texto;
    content: " | ";
    margin: 0 10px;
    font-size: 3em;
    color: #ffffff;
    justify-self: center;
    margin-bottom: 10px;
  }

  #card-description-one {
    @include flexC;
    justify-content: center;

    h1 {
      text-align: center;
      font-family: $font-main;
      font-size: 1em;
    }
    p {
      font-family: $font-main;
      font-size: 1em;
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 210px;
    height: 60px;

    #profile {
      margin: 0;
      width: 40px;
      height: 40px;
      align-items: center;
      img {
        margin: 0;
        margin-top: 2px;
        margin-left: 5px;
        width: 40px;
        height: 40px;
      }
    }

    #card-description {
      @include flexC;
      justify-content: center;
      gap: 2px;
      h1 {
        padding: 0px 10px 0px 20px;
        font-family: $font-main;
        font-size: 0.55em;
      }
      p {
        padding: 0px 10px 0px 20px;
        font-family: $font-main;
        font-size: 0.6em;
      }
    }

    #card-line {
      @include flexC;
      content: " | ";
      margin: 0 10px;
      font-size: 2.3em;
      color: #ffffff;
      justify-self: center;
      margin-bottom: 1px;
    }

    #card-description-one {
      @include flexC;
      justify-content: center;

      h1 {
        text-align: center;
        font-family: $font-main;
        font-size: 0.7em;
      }
      p {
        font-family: $font-main;
        font-size: 0.7em;
      }
    }
  }
}
